header::after {
    content: '';
    position: absolute;
    left: 3%;
    right: 3%;
    bottom: 0;
    border-bottom: 1px solid;
    border-color: var(--text-primary);
    mask: linear-gradient( 
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
}