@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&display=swap");
@import "tailwindcss";

root * {
  font-family: sans-serif;
}

#root {
  --bg-primary: hsl(0, 0%, 93%);
  --bg-secondary: hsl(0, 0%, 85%);
  --bg-tertiary: hsl(0, 0%, 75%);
  --text-primary: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 25%);

  --highlight-primary: hsl(194, 100%, 40%);
  --highlight-secondary: hsl(276, 100%, 67%);

  &.dark {
    --bg-primary: hsl(0, 0%, 8%);
    --bg-secondary: hsl(0, 0%, 15%);
    --bg-tertiary: hsl(0, 0%, 20%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 70%);
  }

  background: var(--bg-primary);
}

@keyframes scroll-in {
  0% {
    transform: translateY(10%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.scroll-in {
  animation-name: scroll-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.sectionTitle {
  font-family: Bebas Neue, sans-serif;
  font-size: 2.25rem;
  line-height: 1.111111;
}
